:root {
  --color-bg: #E5E5E5;
  --color-bgfooter: #F0DCC5;
  --color-accent: #647B64;
  --color-text: #4F4F4F;
  --color-subtitle: #333333;
  --color-tittle: #F3B562;
  --color-text-button: #FEFEFE;
  --color-white: #281313;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.container {
  max-width: 1198px;
  margin-left: auto;
  margin-right: auto;
  outline: red;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  color: var(--color-tittle);
  margin: 0;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.subtitle {
  color: var(--color-accent);
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style: none;
  font-size: 16px;
  line-height: 1.5;
}

.nav-link {
  color: var(--color-subtitle);
  text-decoration: none;
}

.button {
  background-color: var(--color-accent);
  color: var(--color-text-button);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(128, 143, 150, 0.4);
}

.button:hover {
  background-color: var(--color-text-button);
  color: var(--color-accent);
}

.header-button {
  padding: 12px 16px;
  text-transform: capitalize;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 112px;
}

.hero-content {
  max-width: 600px;
  position: relative;
}

.hero-content::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(#EF8031 0%, rgba(239, 128, 49, 0.307) 69.3%, rgba(239, 128, 49, 0) 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: -56px;
  left: 150px;
  z-index: -1;
}

.hero-title {
  color: var(--color-subtitle);
  margin: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.hero-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.advantages-decor {
  position: absolute;
  margin-left: -28px;
  z-index: -1;
}

.advantages-content {
  position: relative;
  max-width: 460px;
  padding-top: 23px;
}

.advantages-content::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(to left top, rgba(239, 128, 49, 0) 0%, rgba(239, 128, 49, 0.15) 69.3%, rgba(239, 128, 49, 0) 100%);
  width: 600px;
  height: 160px;
  z-index: -1;
  transform: rotate(180deg);
}

.advantage-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 40px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 0;
  max-width: 608px;
}

.advantages-items {
  width: 288px;
  padding: 32px 40px;
  box-sizing: border-box;
  border-radius: 8px;
}

.advantages-items:nth-child(-n+2) {
  margin-bottom: 32px;
}

.advantages-items:hover {
  background-color: #fff;
  box-shadow: rgba(155, 148, 148, 0.17);
}

.advantages-list-title {
  color: var(--color-subtitle);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

.advantage-list-text {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.04em;
  margin: 0;
}

.about-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  box-sizing: border-box;
  margin-bottom: 88px;
  position: relative;
}

.about-container::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to left top, rgba(239, 128, 49, 0) 0%, rgba(239, 128, 49, 0.15) 69.3%, rgba(239, 128, 49, 0) 100%);
  width: 570px;
  height: 530px;
  margin-top: 40px;
  margin-left: 40px;
  z-index: -1;
  transform: rotate(180deg);
}

.about-content {
  width: 454px;
  padding: 64px 0 122px 104px;
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 40px;
}

.about-decor {
  position: absolute;
  bottom: 2px;
  right: 585px;
  z-index: -1;
}

.features-decor-dots {
  position: absolute;
  z-index: -1;
  margin-left: -78px;
  margin-top: -131px;
}

.features-decor-bg {
  position: absolute;
  margin-left: -265px;
  margin-top: -55px;
  z-index: -1;
}

.features-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 96px;
  padding: 0;
  padding-bottom: 32px;
  gap: 44px;
  position: relative;
}

.features-list::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to left top, rgba(239, 128, 49, 0) 0%, rgba(239, 128, 49, 0.15) 69.3%, rgba(239, 128, 49, 0) 100%);
  width: 600px;
  height: 160px;
  bottom: -32px;
  right: -136px;
  z-index: -1;
}

.features-items {
  width: 360px;
  padding: 70px 50px 59px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  background-image: linear-gradient(rgba(100, 123, 100, 0.77) 0%, rgba(100, 123, 100, 0) 66.46%, rgba(100, 123, 100, 0) 100%);
  position: relative;
}

.features-items__accent {
  background-color: var(--color-accent);
  color: #fff;
}

.features-items-title {
  color: var(--color-subtitle);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 16px;
}

.features-items-title__accent {
  color: #fff;
}

.features-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 128px;
}

.team-items {
  position: relative;
  width: 368px;
  padding: 24px 32px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  background-image: linear-gradient(rgba(100, 123, 100, 0.77) 0%, rgba(100, 123, 100, 0) 66.46%, rgba(100, 123, 100, 0) 100%);
}

.team-items-title {
  color: var(--color-subtitle);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.team-items-name {
  font-size: 14px;
  line-height: 1.57;
  margin: 0;
}

.team-items-citation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-style: italic;
  margin: 0;
  margin-top: 24px;
}

.team-items-box {
  position: absolute;
  right: 32px;
}

footer {
  background-color: var(--color-bgfooter);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 48px 0;
}

.footer-info {
  width: 268px;
  margin: 0;
}

.footer-info:not(:last-child) {
  margin-bottom: 16px;
}

.footer-logo {
  margin-bottom: 26px;
}

.footer-subtitle {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}

.company-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.support-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-items {
  color: var(--color-subtitle);
  font-size: 16px;
  line-height: 1.5;
}

.footer-items:not(:last-child) {
  margin-bottom: 12px;
}

.footer-form {
  width: 268px;
}

.form-lable {
  color: var(--color-accent);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.footer-info {
  font-size: 16px;
  line-height: 1.5;
}

.footer-textarea {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 24px;
  border-radius: 2px;
  border: transparent;
}

.icon-arrow {
  margin-left: 16px;
  vertical-align: middle;
  fill: #FEFEFE;
}

.button:hover .icon-arrow {
  fill: var(--color-accent);
}

.advantages-icons {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
}

.advantages-img {
  padding: 12px;
  fill: var(--color-accent);
}

.advantages-items:hover .advantages-icons {
  background-color: #647B64;
}

.advantages-items:hover .advantages-img {
  fill: #fff;
}

.features-icon {
  margin-bottom: 32px;
}

.icon-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  gap: 18px;
}

.footer-icon-box {
  background-color: #DFD1C0;
  width: 32px;
  height: 32px;
  border-radius: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon-box:hover {
  background-color: var(--color-accent);
}

.footer-img {
  fill: var(--color-accent);
}

.footer-icon-box:hover .footer-img {
  fill: #DFD1C0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  max-height: 676px;
  height: 100%;
  background-color: lightgrey;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  display: none;
}

.modal-title {
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.form-field-lable {
  color: #4F4F4F;
}

.form-field-input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 40px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.form-field-input:focus {
  border-color: var(--color-accent);
}

.form-field-input:focus + .form-field-icon {
  fill: var(--color-accent);
}

.form-field {
  position: relative;
  margin-top: 8px;
  margin-bottom: 16px;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #4F4F4F;
}

.form-field-textarea {
  height: 120px;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.form-field-textarea:focus {
  border-color: var(--color-accent);
}

.form-field-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.33;
}

.form-field-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.33;
}

.form-field-textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
}

.form-submit {
  margin-left: 50%;
  transform: translateX(-50%);
}

.checkbox {
  margin-bottom: 24px;
}/*# sourceMappingURL=main.css.map */