footer{
    background-color: var(--color-bgfooter);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 48px 0 48px 0;
}

.footer-info{
    width: 268px;
    margin: 0;
    
}

.footer-info:not(:last-child){
    margin-bottom: 16px;
}

.footer-logo{
    margin-bottom: 26px;
}

.footer-subtitle{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 24px;
}

.company-list{
    list-style: none;
    padding: 0;
    margin: 0;

}

.support-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-items{
    color: var(--color-subtitle);
    font-size: 16px;
    line-height: 1.5;
    
}

.footer-items:not(:last-child){
    margin-bottom: 12px;
}

.footer-form{
    width: 268px;
}

.form-lable{
    color: var(--color-accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   
}

.footer-info{
    font-size: 16px;
    line-height: 1.5;
}



.footer-textarea{
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px 24px;
    border-radius: 2px;
    border: transparent;
}