.team-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-items{
    width: 368px;
    padding: 24px 32px;
    box-sizing: border-box;
}

.team-items-title{
    color: var(--color-subtitle);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    
}

.team-items-name{
    font-size: 14px;
    line-height: 1.57;
    margin: 0;
}

.team-items-citation{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-style: italic;
    margin: 0;
}