:root{
    --color-bg: #E5E5E5;
    --color-bgfooter: #F0DCC5;
    --color-accent: #647B64;
    --color-text: #4F4F4F;
    --color-subtitle: #333333;
    --color-tittle: #F3B562;   
    --color-text-button: #FEFEFE;
    --color-white: #281313;
    // --color-subtitle: #647B64;
}